# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/.pytest_cache/
**/.mypy_cache/
.venv/
venv/

# Flutter / Dart
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/
**/coverage/

# Node / JS
**/node_modules/

# Logs / temp
**/*.log
*.tmp
*.temp
