.git
.gitignore
.vscode
.venv
venv
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.sqlite
*.db
*.pytest_cache
.pytest_cache
.idea
*.iml
.DS_Store
tests
backend/tests
alembic/versions/__pycache__
